
a.region:link {
      text-decoration: none;
      color: inherit !important;
}

a.region:visited {
      text-decoration: none;
      color: inherit !important;
}

a.region:hover {
      text-decoration: none;
      color: inherit !important;
}

a.region:active {
      text-decoration: none;
      color: inherit !important;
}


/* links */

a {

  &:visited {
    color: $link-color;
  }

}
