
a.region:link {
      text-decoration: none;
      color: inherit !important;
}

a.region:visited {
      text-decoration: none;
      color: inherit !important;
}

a.region:hover {
      text-decoration: none;
      color: inherit !important;
}

a.region:active {
      text-decoration: none;
      color: inherit !important;
}


/* links */
a {
  &:focus {
    @extend %tab-focus;
  }

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-color-hover;
    outline: 0;
  }
}
