---
layout: archive
---

	<body data-spy="scroll" data-target="#nav-spy">
		<section id="intro">
			<div class="row">
				<div class="container">
                	<img src="img/erkin.png" width="210" height="210" alt="Erkin Otles">
               	  
					<h2>Hi, I'm Erkin Otles.</h2> 
					<h4>I'm a MD/PhD Student. My research focuses on using machine learning to improve health. I love numbers (and space)!!</h4>
					<h4>Here's a link to my <a href="https://eotles.github.io/blog/">blog</a>.</h4>

				</div>
			</div>
		</section>

	
			
		<nav id="navBar" class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="377" >
		  <!-- Brand and toggle get grouped for better mobile display -->
		  	<div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-spy">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
		    
		  	</div>

			<div class="container">
				
					 
					<div class="collapse navbar-collapse" id="nav-spy">
					    <ul class="nav navbar-nav" >
					      <li class="active"><a href="#education">Education</a></li>
					      <li><a href="#experience">Experience</a></li>
					      <li><a href="#skills">Skills</a></li>
					      <li><a href="#projects">Projects</a></li>
					      <li><a href="#contact">Contact</a></li>
					    </ul>
				    </div>
			    
			</div><!-- /.navbar-collapse -->
		</nav>

		

		<div class="row education">
			<a href="#" id="education"></a>
			<div class="container">
				<h2>Education</h2>
				<hr></hr>

				<div class="col-md-6">
					<h4>University of Michigan<span class="gray"> / 2016 - 2022</span></h4>
					<p>Medical Scientist Training Program (MD/PhD), Industrial and Operations Engineering</p>
				</div>
                
				<div class="col-md-6">
					<h4>University of Wisconsin - Madison<span class="gray"> / 2015, 2011</span></h4>
					<p>Master of Engineering (M.Eng.), Industrial and Systems Engineering - Decision Science and Operations Research &amp; Computer Science</p>
                    <p>Bachelor of Science, Industrial and Systems Engineering</p>
                </div></p>
				</div>

			</div>
		</div>
        
        <div class="row">
        	<div class="container">
            	<div class="col-md-6">
                <h4 class="blue">Awards</h4>
                <p>SHS-FlexSim ED Simulation Competition Winner</p>
                <p>Thomas Engineering Scholarship</p>
                <p>Colbeck Scholarship</p>
                <p>WV Distinguished Scholarship</p>
                <p>Dean's Honor List</p>
                </div>
                
                <div class="col-md-6">
                <h4 class="blue">Research</h4>
                <p>Healthcare Machine Learning</p>
                <p>CDS Design for ED PE/DVT Diagnosis</p>
                <p>ED Operational Simulation</p>
                <p><a href="http://www.fammed.wisc.edu/i-practise/">I-PrACTISE</a></p>
                <p>Supply Chain Security Optimization</p>
                </div>
                
            </div>
        </div>

		<div class="row">
			<div class="container">
            	<a href="#" id="experience"></a>
				<h2>Experience</h2>
				<hr></hr>

				<div class="col-md-6">
					<h4>Medical Scientist Training Program Fellow</h4>
					<p>University of Michigan
                    <br>
					2016 - Present</p>
                   <p>My research is focused on the intersection of Medicine, Engineering, and CS. Stuff I find fascinating:
                   <ul>
                       <li>Machine Learning</li>
                       <li>Electronic Medical Records</li>
                       <li>Precison Medicine</li>
                   </ul>
                   </p>
					<br>
                    
                </div>

                <div class="col-md-6">
					<h4>Healthcare Data Scientist</h4>
					<p>MetaStar
                    <br>
					2015 – 2016</p>
					<p>Supported healthcare quality improvement work through the development of analytical reports. Designed and supported medicare claims based visualizations &amp; key performance indicators. Worked with quality improvement specialists, physicians, and nurses to validate and prioritize analysis. </p>
					<br><br><br>
                    
                </div>

                <div class="col-md-6">
					<h4>Lecturer / Researcher</h4>
					<p>University of Wisconsin - Madison
                    <br>
					2014 – 2016</p>
                    <p>Redesigned two required undergrad industrial engineering courses:
                    <ul>
                        <li>Health Systems Engineering</li>
                        <li>Simulation Modeling Laboratory</li>
                    </ul>
                    Did some research on using machine learning in emergency medicine too!</p>
					<br>
                </div>

                <div class="col-md-6">
					<h4>EpicCare Ambulatory Technical Services</h4>
					<p>Epic
                    <br>
					2012 – 2013</p>
					<p>Designed and developed analytics tools &amp; strategies for Health Systems moving towards ACO models of care. Led technical support of two customer implementations.  Managed and resolved install issue escalations often managing teams containing internal developers, customer technical and clinical teams.</p>
					<br><br>
                </div>
                
                <div class="col-md-6">
					<h4>Health Systems Engineering Intern</h4>
					<p>UW Hospital
                    <br>
					2010 – 2012</p>
					<p>Led design of next generation of inpatient rooms. Developed data mining tools &amp; processes to analyze quality of care as well as patient satisfaction.</p>
                    <br><br><br>
				</div>

				<div class="col-md-6">
					<h4>HR Analytics Intern</h4>
					<p>Epic<br>
					2011</p>
					<p>Summer project involved mining data from various recruiting systems, databases, and email archives.  Built and analyzed databases to help identify key attributes of the best candidates and employees.</p>
					<br><br>
                </div>
                
                <div class="col-md-6">
                    <h4>Industrial Engineer Co-op</h4>
                    <p>Boston Scientific<br>
                    2009-2010</p>
                    <p>Optimized the production lines of two next-gen cardiac pacing leads.  Scheduled clean-room &amp; production shutdowns for machine and utilities installations.  Developed new machine acceptance program.</p>
                    <br><br>
                </div>
                
                <div class="col-md-6">
                    <h4>Manufacturing Engineer</h4>
                    <p>Electronic Theatre Controls<br>
                    2008, 2010</p>
                    <p>Some design for manufacturability &amp; line design. Got my hands dirty by machining, wiring, assembling new testing fixtures.</p>
                    <br><br>
                </div>
                
            </div>
		</div>


		<div class="row">
			<a href="#" id="skills"></a>
			<div class="container">
				<h2>Skills</h2>
				<hr></hr>

				<div class="col-md-3 col-sm-6 skills">
					<img src="img/50.png" width="210" height="210" alt="50%">
					<p>Sleeping</p>
				</div>
                <div class="col-md-3 col-sm-6 skills">
					<img src="img/75.png" width="210" height="210" alt="75%">
					<p>Computer Skills</p>
				</div>
                <div class="col-md-3 col-sm-6 skills">
					<img src="img/90.png" width="210" height="210" alt="90%">
					<p>Space Documentary Watching</p>
				</div>
                <div class="col-md-3 col-sm-6 skills">
					<img src="img/100.png" width="210" height="210" alt="100%">
					<p>Eating!</p>
				</div>

				
			</div>
		</div>

		<div class="row">
			<a href="#" id="projects"></a>
			<div class="container">
				<h2>Projects</h2>
				<hr></hr>

				<div class="col-md-6">
					<h4>Healthcare Machine Learning <span class="gray">/ View site</span></h4>
					<p>Seeing if computers can be useful partners in the care process.</p>
				</div>

				<div class="col-md-6">
					<h4>SHS FlexSim Simulation Competion <span class="gray">/ <a href="Public SHS Flexim.pdf">Presentation</a> </span></h4>
					<p>Won the national ED operation simulation competion in 2015.</p>
				</div>
			</div>

		</div>
        
        <div class="row">
			
			<div class="container">
				

				<div class="col-md-6">
					<h4>Arena Tutorial <span class="gray">/ <a href="https://www.youtube.com/watch?v=SGgc6qFmUH8&list=PLK0Zb4OSvWTu1IK01KTrZZQCDsCxHSNJ9"> YouTube</a> </span></h4>
					<p>Series of videos aimed at introducing the Arena Simulation package to industrial engineering students.</p>
				</div>
                
                <div class="col-md-6">
                    <h4>M is for Medicine<span class="gray"> / <a href="https://itunes.apple.com/us/app/m-is-for-medicine/id1229953773"> Download from iTunes</a> </span></h4>
                    <p>An iMessage Sticker Pack for all those interested in medicine, health, and the human body. Feedback is always appreciated - for any questions, comments, or concerns, please contact <a href="mailto:eotles@gmail.com?subject=M%20is%20for%20Medicine%20-%20Feedback">me!</a></p>
                </div>

				<div class="col-md-6">
					<h4>SMS Website <span class="gray"></h4>
					<p>We hacked together a fully integrated custom text message gateway, app, and website.</p>
				</div>
                
                <div class="col-md-6">
                    <h4>COVID-19 Analysis<span class="gray"> / <a href="covid_19.html"> Link</a> </span></h4>
                    <p>Quick exploration of case spread and mortality rates of the novel coronavirus.</p>
                </div>
			</div>

		</div>
        

		<footer>
        	<div class="row">
            	<a href="#" id="contact"></a>
            	<div class="container">
					<h2>Contact</h2>
                    <div class="col-md-4 col-sm-4">
                    <h2><span class="glyphicon glyphicon-phone"></span></h2>
                    <h4></h4>
                    </div>
                    
                    <div class="col-md-4 col-sm-4">
                    <h2><span class="glyphicon glyphicon-envelope"></span></h2>
                    <h4><a href="mailto:eotles@gmail.com">eotles@gmail.com</a></h4>
                    </div>
                    
                    <div class="col-md-4 col-sm-4">
                    <h2><span class="glyphicon glyphicon-file"></span></h2>
                    <h4><a href="Public_Otles_CV.pdf">CV</a></h4>
                    </div>
                </div>
            </div>

		</footer>
		

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        
	</body>


{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
  

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in site.posts limit:5 %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>
